@import './src/styles/utils';

.changePasswordPage {
  width: 500px;
  margin: auto;
  font-family: 'MPl';
  font-size: medium;

  .title {
    font-size: x-large;
    font-family: 'MPb';
  }


  .buttonArea {
    display: block;
    margin: auto;

    .cancelButton {
      background-color: transparent !important;
      border-color: $red !important;
      color: $red;


      &:hover, &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }

    .submitButton {
      //width: 20%;
      margin-left: 10px;
      background-color: $lightorange !important;
      border-color: $lightorange !important;
      color: white;


      &:hover, &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }
  }


}
