.myFavourite {
  width: 100%;
  margin-left: 1%;
  margin-top: 2%;
  .showImage {
    width: 100%;
  }
  .productSet {
    height: 20px;
    display: inline-block;
    justify-content: right;
    text-align: right;
    align-items: right;
  }
  .titleBar {
    font-family: 'mpb';
    font-size: 20px;
  }
  .setUp {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background: url('../../image/hdmDD.PNG');
    background-attachment: local;
  }
  .adProduct {
    color: red;
    font-size: 8px;
    align-items: right;
    justify-content: right;
    text-align: right;
  }
  .eachAdCard {
    width: 300px;
    height: 350px;
    border-radius: 30px;
    position: static;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    font-family: 'MPl';
    font-size: 13px;
    opacity: 0.8;
  }
  .adImage {
    margin-left: 80px;
    align-items: center;
  }

  .adcardTop {
    font-family: 'MPl';
    font-size: 15px;
    margin-bottom: 0px;
  }

  .badgeAdContent {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 50px;
  }

  .cardGroup {
    width: 100%;
  }
  .cardTop {
    font-family: 'MPl';
    font-size: 13px;
  }
  .eachCard {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    font-family: 'MPl';
    font-size: 13px;
  }

  .showProps {
    margin-left: 15px;
    margin-top: 0%;
  }

  .rankImage {
    margin-left: 50px;
    width: 50px;
    height: 50px;
  }

  .badgeContent {
    margin-top: 2px;
    margin-right: 10px;
  }
  .description {
    width: 100%;
  }
  .menuTabs {
    font-family: 'MPb';
    margin-bottom: 10px;
  }
  .shownDescription {
    margin-top: 10px;
    font-family: 'MPl';
  }
  .marginSet {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
  }
  .tableTop {
    font-size: 15px;
    color: darkolivegreen;
    font-weight: bold;
    border-bottom: black solid 1px;
  }
  .copyright {
    text-align: center;
    font-family: 'MPb';
    font-size: 8px;
  }
  .popGroup {
    font-family: 'MPl';
  }
  .buttonF {
    width: 45px;
    height: 20px;
    margin-right: 25px;
    font-size: 10px;
  }
  .addF {
    margin-left: 120px;
    font-size: 20px;
    color: red;
  }
  .linkFB{
    //display: flex;
    align-items: center;
    .addFB {
    margin-top:10px;
    display: flex;
    align-items: center;
  }
  }
  
}
