@import "./src/styles/utils";

.Ranking {
  width: 75%;
  margin: 20px auto auto;
  font-family: 'tway';


  .container {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
  }


  .titleArea {
    .title {
      font-size: x-large;
      font-weight: bold;
      border-bottom-style: solid;
      border-bottom-color: black;
    }
  }


  .hr {
    border-top: 1px solid;
  }


  .topRating {
    width: 100%;
    text-align: center;
    margin: auto auto 60px;

    .topRatingCard {
      height: 100%;
      width: 100%;
      text-align: center;
      display: inline-block;
      border-radius: 10%;

      .title {
        font-size: large;
        word-break: keep-all;
      }

      .trophy {
        margin: auto;
        font-size: x-large;
        display: inline;
      }
      .avgRating{
        font-size: medium;
        display: inline;
      }

      &.first {
        .trophy {
          color: gold;
        }
      }

      &.second {
        .trophy {
          color: silver;
        }
      }

      &.third {
        .trophy {
          color: saddlebrown;
        }
      }

      img {
        width: 100%;
      }

    }
  }


  .RankingList {
    width: 100%;

    .RankingListItem {
      width: 100%;

      .rankNum {
        font-weight: bold;
        font-size: large;
        margin-right: 10px;

        &.first {
          margin-right: 3px;
          color: gold;
        }

        &.second {
          margin-right: 3px;
          color: silver;
        }

        &.third {
          margin-right: 3px;
          color: saddlebrown;
        }
      }

      .foodName {
        font-size: medium;
      }

      .ratingStar {
        float: right;
        font-size: large;
        color: $yellow;
        margin-right: 5px;
      }

      .avgRating {
        float: right;
        font-size: large;
      }
    }
  }


}