@import "./src/styles/utils";

.Ranking {
  width: 60%;
  margin: 20px auto 0;
  padding: 28px;
  //background-color: #0A1D37;
  //color: white;
  z-index: -2;
 .ranking__img{
    background-image: url('../../image/Ranking/wing.png');
    width: 830px;
    height: 300px;
    z-index: -1;
    position: absolute;
 }
  .ranking__title{
    font-size: xx-large;
    font-weight: 800;
    position: relative;
    margin-top: 150px;
    left: 40%; 
  }

  .topRating {
    width: 100%;
    text-align: center;
    margin: auto auto 1%;
    margin-top: 100px;
    margin-bottom: 50px;
    z-index: -1;
    .top__frame{
      display: flex;
      position:relative;
      z-index: 2;
      margin-top: 40px;
    }
    .frame__1{
      margin-top: 0px
    }
    .frame__3{
      margin-top: 60px;
      display: flex;
    }
    .topRatingCard {
      height: 100%;
      width: 100%;
      text-align: center;
      display: inline-block;
      border-image: url('../../image/Ranking/second.png') round;
      border-image-slice: 20;
      border-width: 5px 5px;
      .title {
        font-size: large;
        word-break: keep-all;
        font-weight: 700;
      }
      .foodNameCard {
        margin-bottom: 10%;
        margin-top: 4%;
      }

      .trophy {
        margin: auto;
        font-size: x-large;
        display: inline;
      }

      .avgRating {
        margin: auto auto auto 10px;
        font-size: medium;
        display: inline;
      }

      &.first {
        
        .trophy {
          color: gold;
        }
      }

      &.second {
        margin-top: 40px;
        .trophy {
          color: silver;
        }
      }

      &.third {
        margin-top: 60px;
        .trophy {
          color: saddlebrown;
        }
      }

      img {
        width: 80%;
        border-radius: 0.25rem;
      }

    }
  }


  .RankingTable {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 0px 1px 5px 2px rgba(255,193,7,0.7);

    .RankingTableRow {
      font-size: large;

      .ratingStar {
        //float: right;
        font-size: large;
        color: $yellow;
        margin-right: 5px;
      }

    }
  }

}