.tabResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    .downSection{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }
    .categoryGroup{
        //margin-right: 5%;
       // position:fixed;
        left: 5%;
        margin-right: 10%;
        margin-left:0%;
    }
    .category{
        background-color: red;
        color: white;
    }
    .inputGroup{
        width: 600px;
    }
    .sortBy{
        display: flex;
        flex-direction: row;
    }
    .dropDownBtn{
        outline: none;
        background-color:#ffff;
    }
    .allergies{
        display: flex;
        flex-direction: row;
        width: 800px;
    }
    .filter{
        border:0;
        outline: 0;
        background-color: white;
        width: 30px;
        display: flex;
        flex-direction: row;
    }
}