.SearchProduct {
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: 3%;
   .form-control{
     margin-top: 15px;
   }
  .results {
    top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;

  }
  .dropdown{
   
    border-color: #ed2f3b;
    background-color:white;;
    color:#ed2f3b;
  }
  .dropdownArrow:hover{
    color:white;;
    background-color:#ed2f3b;
  }

  .input-group{
    padding-left:30%;
    padding-right: 30%;
  }
  .categoryGroup{
    margin-top: 50px;
     .category{
    background-color: #ed2f3b;
    color:white;
  }
  .list-group-item-action:hover{
      color: #ed2f3b;
  }
  }
 .selectType{
   display: flex;
   flex-direction: row;
   margin-top: 30px;
   .list-group-item:hover{
      color: #ed2f3b;
   }
 }
  .bottomSection{
    display: flex;
    flex-direction: row;
  }
  .resultSection{
    display: flex;
    flex-direction: column;    
  }
  .form-control{
    border-color: #ed2f3b;
  }
.searchResult{
  display: flex;
}
.resultPage{
  display: flex;
  width: 100%;
  margin-left: 20%;
  margin-top: 5%;
}
.resultList{
  display: flex;
  width: 100%;
  margin-left: 20%;
}
.errorPage{
  display: flex;
  width: 100%;
  margin-left: 40%;
  margin-top: 5%;
}
  .foodInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .foodName{
    font-size: large;
    font-weight: 700;

  }
  img {
    display: block;
    width: 100px;
    height: 100px;
  }

  .prdName {
    font-weight: 700;
    font-size: 16px;
  }

  .selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    .btn{
      width: 200px;
      height: 200px;
    }
  }

  .searchHistory {
    height:1px !important;
    max-height:1px !important;

  }

}