.tabResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    .allergyBtn{
     
        margin-left: 5%;
        display: flex;
        align-items: center;
    }
    .downSection{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }
    .categoryGroup{
        position: relative;
        right: 15%;
    }
    .category{
        background-color: red;
        color: white;
    }
    .groupButton{
        display: flex;
         justify-items: center;
        align-items: center;
    }
    .inputGroup{
        width: 600px;
        display: flex;
        justify-items: center;
        align-items: center;
        .input{
            top: 15px;
        }
    }
    .sortBy{
        display: flex;
        flex-direction: row;
        margin-bottom: 1%;
        margin-top: 5%;
      
    }.form-check{
        display: flex;
        justify-items: center;
        align-items: center;
        margin-right: 3%;
    }

    .allergies{
        display: flex;
        flex-direction: row;
        width: 800px;
    }
    .filter{
        border:0;
        outline: 0;
        background-color: white;
        width: 30px;
        display: flex;
        flex-direction: row;
    }
    .foodResult{
         position: relative;
         right: 7.5%;
         width: 700px;
    }
}