@import "./src/styles/utils";

.FoodDetail {
  //margin-left: 100px;
  //margin-right: 100px;

  width: 75%;
  margin: auto;

  .hr {
    margin: 0;
    border-top: 1px solid;
    border-color: gray;
    width: 100%;
  }

  .foodInfoArea {
    .category {
      margin-top: 30px;
      font-size: medium;
      margin-bottom: 5px;
    }

    .foodName {
      margin-top: 10px;
      font-size: x-large;
      font-weight: bold;
    }

    .manufacturerName {
      margin-top: 10px;
      font-size: large;
      //margin-bottom: 50px;
    }

    .allergyMaterials {
      margin-top: 10px;
      font-size: large;
    }

    .foodInfoTable {
      margin-top: 20px;
      font-size: medium;

    }
    .btnArea {
      position: absolute;
      bottom: 0;
      width: 90%;
      margin: auto;
      .newsButton, .linkButton {
        width: 100%;
        background-color: $lightorange !important;
        border-color: $lightorange !important;
        color: white;
        margin-right: 3px !important;

        &:hover, &:active {
          background-color: $orange !important;
          color: white !important;
          border-color: $orange !important;
        }
      }

      .favoriteButton {
        //float: right;

        background-color: transparent !important;
        border-color: $lightorange !important;
        color: $lightorange;
        margin-right: 3px !important;

        &:hover, &:active {
          background-color: transparent !important;
          color: $lightorange !important;
          border-color: $lightorange !important;
        }
      }

      @media screen and (max-width: 1200px) {
        position: relative;
      }
    }
    @media screen and (max-width: 992px) {
      margin-top: 30px;
    }
  }

  .reviewSummary {
    font-size: large;

    .subTitle {
      font-size: x-large !important;
      margin-bottom: 10px;
    }
  }


  .foodInfo {
    .foodInfoDesc {
      font-size: small;
    }

    .subTitle {
      font-size: large !important;
      margin-bottom: 10px;
    }
  }


  .reviewTable {
    font-size: 1.1em;
    margin-top: 15px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
  }

  .reviewLabel {
    font-size: medium;
    margin-bottom: 10px;
    float: left;
  }

  .starRating {
    float: right;
  }

  .pagingButton {
    float: right;
  }

  .foodInfo {
    margin-top: 20px;
  }

  .reviewFrom {
    resize: none;
  }

  .likeButton {
    background-color: transparent;
    border-color: $lightorange;
    color: $lightorange;
    margin: 0;
    padding: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      color: $lightorange !important;
      border-color: $lightorange !important;
    }
  }

  .deleteButton {
    background-color: transparent;
    border-color: $lightorange;
    color: red;
    margin: 0;
    padding: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      color: red !important;
      border-color: $lightorange !important;
    }
  }

  .editButton {
    background-color: transparent;
    border-color: darkblue;
    color: darkblue;
    padding: 0;
    margin: 0 5px 0 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      color: darkblue !important;
      border-color: darkblue !important;
    }
  }

  .editCancelButton {
    background-color: transparent;
    border-color: $lightorange;
    color: red;
    margin: 0;
    padding: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      color: red !important;
      border-color: $lightorange !important;
    }
  }


  .reviewPaginate {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 30px;

  }

  .reviewPage {
    color: black;
  }

  .reviewSelectedPage {
    color: $lightorange;
    font-weight: bold;
  }

  .carousel {
    height: 100%;
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon,
  .carousel-indicators {
    filter: invert(50%) !important;
  }

  .reviewSummaryChart {
    .chart {
      margin-top: 10px;
    }
  }


}