.category__container{
    padding: 2%;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: 'MPl';
    grid-template-rows: 1fr 3fr;
    gap:  5% 0%;
    .category__header{
       display: grid;
       grid-template-columns:7fr 1fr;
        .category__title{
            font-size: x-large;
            font-weight: 700;
            float: left;
        }
        .category__searchTab{
             float: left;
        }
    }
    .category__show{
        .category__line{
            align-items: center;
            .category_title{
                font-size: larger;
                font-weight: 700;
            }
        }
        .category__items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px 5px;
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15%;
             .category__item{
            width: 200px;
            height: 200px;
            padding: 10px;
            border-radius: 50%;
            margin-bottom: 10px;
           
            }
            .category__name{
                 font-size: large;
            }
        }
       
    }
    }
    
}
