@import "./src/styles/utils";

.FoodDetail {
  margin-left: 100px;
  margin-right: 100px;

  .container {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
  }


  .titleArea {
    .title {
      font-size: x-large;
      font-weight: bold;
      border-bottom-style: solid;
      border-bottom-color: black;
    }

    .btn {
      margin-top: 0;
      float: right;
    }

    .newsButton {
      margin-right: 3px !important;
    }

    .favoriteButton {
      background-color: transparent !important;
      border-color: $lightorange !important;
      color: $lightorange;
      margin-right: 3px !important;

      &:hover, &:active {
        background-color: transparent !important;
        color: $lightorange !important;
        border-color: $lightorange !important;
      }
    }
  }

  .hr {
    border-top: 1px solid;
  }

  .rightBorderLine {
    border-right: 1px solid;

  }

  .subTitle {
    font-size: large;
    margin-bottom: 10px;
  }

  .reviewTable {
    font-size: 1.1em;
    margin-top: 15px;
    table-layout: fixed;
    margin-left:auto;
    margin-right:auto;
  }

  .reviewLabel {
    font-size: medium;
    margin-bottom: 10px;
    float: left;
  }

  .starRating {
    float: right;
  }

  .pagingButton {
    float: right;
  }

  .foodInfo {
    margin-top: 20px;
  }

  .reviewFrom {
    resize: none;
  }

  .likeButton {
    background-color: transparent;
    border-color: $lightorange;
    color: $lightorange;
    margin: 0;
    padding: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      color: $lightorange !important;
      border-color: $lightorange !important;
    }
  }

  .deleteButton {
    background-color: transparent;
    border-color: $lightorange;
    color: red;
    margin: 0;
    padding: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      color: red !important;
      border-color: $lightorange !important;
    }
  }

  .editButton {
    background-color: transparent;
    border-color: darkblue;
    color: darkblue;
    padding: 0;
    margin: 0 5px 0 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      color: darkblue !important;
      border-color: darkblue !important;
    }
  }
  .editCancelButton{
    background-color: transparent;
    border-color: $lightorange;
    color: red;
    margin: 0;
    padding: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      color: red !important;
      border-color: $lightorange !important;
    }
  }


  .reviewPaginate {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 30px;

  }

  .reviewPage {
    color: black;
  }

  .reviewSelectedPage {
    color: $lightorange;
    font-weight: bold;
  }
}

.reviewSummaryChart{
  .chart{
    margin-top: 10px;
  }
}