.FoodDetail {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
  }



  .titleArea {
    .title {
      font-size: x-large;
      font-weight: bold;
      border-bottom-style: solid;
      border-bottom-color: black;
    }
    .btn{
      margin-top: 0;
      float: right;
    }
    .newsButton{
      margin-right: 3px !important;
    }
  }

  .hr {
    border-top: 1px solid;
  }

  .rightBorderLine {
    border-right: 1px solid;

  }

  .subTitle {
    font-size: large;
    margin-bottom: 10px;
  }

  .reviewTable {
    margin-top: 5px;
  }

  .reviewLabel {
    font-size: medium;
    margin-bottom: 10px;
    float: left;
  }

  .starRating {
    float: right;
  }

  .pagingButton {
    float: right;
  }

  .foodInfo {
    margin-top: 20px;
  }

  .reviewFrom {
    resize: none;
  }
}