@import 'styles/utils';

.mainScreen {
  height: 100%;
  .showImage {
    width: 100%;
  }

  .productSet {
    height: 20px;
    display: inline-block;
    justify-content: right;
    text-align: right;
    align-items: right;
  }
  .titleBar {
    font-family: 'mpb';
    font-size: 20px;
  }
  .setUp {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../image/hdmDD.PNG');
    background-attachment: local;
  }
  .category__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 5%;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      border-radius: 5%;
      //border: 1px solid gray;
      background-color: white;
      margin: 3%;
      padding: 2%;

      .item__img {
        width: 200px;
        height: 200px;
      }
      .category__name {
        font-family: 'mpl';
        font-size: 15px;
      }
    }
    .item:hover {
      cursor: pointer;
      border-color: #ed2f3b;
    }
  }
  .eachAdCard {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: static;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    font-family: 'MPl';
    font-size: 13px;
    opacity: 0.8;
  }

  .eachAdCard:hover {
    box-shadow: 2px 2px 5px 4px rgba(1, 1, 1, 0.3);
    font-weight: bold;
    color: black;
  }
  .adcardTop {
    font-family: 'MPl';
    font-size: 17px;
    margin-bottom: 0px;
  }
  .categoryIcons {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .adImage {
    align-items: center;
    width: 100%;
    height: 150px;
  }

  .badgeAdContent {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 25px;
    width: 30%;
    font-size: 15px;
    height: 20%;
  }

  .cardGroup {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
  }
  .cardTop {
    font-family: 'MPl';
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .eachCard {
    width: 210px;
    height: 210px;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    font-family: 'MPl';
    font-size: 13px;
  }
  .eachCard:hover {
    box-shadow: 2px 2px 5px 4px rgba(1, 1, 1, 0.3);
    font-weight: bold;
    color: black;
    .showRankProps {
      color: red;
    }
  }

  .showProps {
    margin-left: auto;
  }

  .showRankProps {
    margin-left: auto;
    color: darksalmon;
  }

  .rankImage {
    margin: auto;
    padding-top: 0%;
    width: 50%;
    height: 50%;
  }

  .badgeContent {
    margin: auto;
    text-align: center;
    margin-left: 5px;
  }
  .description {
    width: 100%;
  }
  .menuTabs {
    font-family: 'MPb';
    margin-bottom: 10px;
  }

  .tableTop {
    font-size: 15px;
    color: darkolivegreen;
    font-weight: bold;
    border-bottom: black solid 1px;
  }

  .popGroup {
    font-family: 'MPl';
  }
}

.about {
  .showImage {
    width: 100%;
  }
  .productSet {
    height: 20px;
    display: inline-block;
    justify-content: right;
    text-align: right;
    align-items: right;
  }
  .titleBar {
    font-family: 'mpb';
    font-size: 20px;
  }

  .cardGroup {
    width: 100%;
  }
  .cardTop {
    font-family: 'MPl';
    font-size: 15px;
  }
  .eachCard {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    font-family: 'MPl';
    font-size: 13px;
  }

  .showProps {
    margin-left: 15px;
  }

  .badgeContent {
    margin-top: 2px;
    margin-right: 10px;
  }
  .description {
    width: 100%;
  }
  .menuTabs {
    font-family: 'MPb';
    margin-bottom: 10px;
    margin-left: 30px;
  }
  .shownDescription {
    margin-top: 10px;
    font-family: 'MPl';
  }
  .marginSet {
    margin-top: 20px;
    margin-left: 60px;
    font-size: 13px;
  }
  .tableTop {
    font-size: 15px;
    color: darkolivegreen;
    font-weight: bold;
    border-bottom: black solid 1px;
  }
  .popGroup {
    font-family: 'MPl';
  }
  .devImage {
    width: 50px;
    height: 50px;
  }
}
