@import 'styles/utils';

.mainScreen {
  .showImage {
    width: 100%;
  }
  .productSet {
    height: 20px;
    display: inline-block;
    justify-content: right;
    text-align: right;
    align-items: right;
  }
  .titleBar {
    font-family: 'mpb';
    font-size: 20px;
  }

  .cardGroup {
    width: 100%;
  }
  .cardTop {
    font-family: 'MPl';
    font-size: 15px;
  }
  .eachCard {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    font-family: 'MPl';
    font-size: 13px;
  }

  .showProps {
    margin-left: 15px;
  }

  .badgeContent {
    margin-top: 2px;
    margin-right: 10px;
  }
}
