@import 'styles/utils';

.headerJS {
  margin: auto;
  display: inline-block;
  width: 100%;
  margin-top: 1%;

  .topsection {
    display: inline-block;
    justify-content: space-around;
    margin: auto;
    justify-items: right;
    align-items: right;
    text-align: right;
    //background-color: #fbc779;
    width: 100%;
  }

  .logo {
    justify-content: center;
    align-items: center;
  }
  .serviceName {
    margin: 0;
    color: var(--text);
    margin: auto;
    justify-content: center;
    font-size: 100px;
    font-family: 'thickEng';
    width: 30%;
    .logo {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: inherit;
      margin: 0 var(--spacing, 0px);
      transition: margin 0.25s;
      svg {
        width: 76px;
        height: 40px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 7px) translateZ(0);
        fill: none;
        stroke: var(--stroke, var(--line));
        stroke-linecap: round;
        stroke-width: 2px;
        stroke-dasharray: var(--offset, 69px) 278px;
        stroke-dashoffset: 361px;
        transition: stroke 0.25s ease var(--stroke-delay, 0s),
          stroke-dasharray 0.35s;
      }
      &:hover {
        --spacing: 4px;
        --stroke: var(--line-active);
        --stroke-delay: 0.1s;
        --offset: 180px;
        color: olive;
      }
    }
  }

  .homeImage {
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .buttonGroup,
  .buttons {
    display: inline-block;
    text-align: right;
    justify-content: right;
    align-items: right;
    margin-left: 50px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'tway';
    color: slategray;
    :hover {
      border-bottom: dodgerblue ridge 1px;
      color: black;
      background-color: lightcoral;
    }
  }

  .loginBtn {
    margin-right: 10px;
    margin-left: 1000px;
    text-align: right;
    align-content: right;
    justify-content: right;
  }
  .joinBtn {
    margin-right: 10px;
  }
  .myPageBtn {
    margin-right: 10px;
  }
  .myFavouriteBtn {
    margin-right: 10px;
  }
  .deleteBtn {
    margin-right: 10px;
  }
  .logoutBtn {
    margin-right: 10px;
  }
  input::placeholder {
    font-size: 8px;
  }

  .navMom {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-top: grey dotted 1px;
    border-bottom: grey dotted 1px;
  }
  .mainLink {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .navigationGroup {
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;

    width: 65%;
  }

  .mainBrand {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
    padding-top: 0%;
    margin-right: 10px;
  }

  .links {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    font-family: 'tway';
    color: black;
    :hover {
      border-bottom: black ridge 1px;
      color: #ed2f3b;
    }
  }

  .searchSection {
    display: inline-block;
    text-align: right;
    justify-content: right;
    align-items: right;
    margin-left: 150px;
  }
}
