.loginPage {
  margin-top: 9%;
  .container {
    width: 27%;
  }
  .title {
    font-family: 'MPb';
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  .inputGroup {
    width: 100%;
    margin: auto;
  }
  .formBody {
    font-family: 'MPl';
    font-size: 13px;
  }
  .rememberLogin {
    text-align: right;
  }
  .checkLogin {
    text-align: right;
  }
  .loginButton {
    text-align: right;
  }
  .loginGroup {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 2%;
  }
  .userSection:hover {
    color: crimson;
    text-decoration: none;
  }
  .userConTrol {
    text-align: center;
    margin-top: 2%;
  }
  .userGroup:hover,
  :active,
  :visited {
    text-decoration: none;
  }
}
