.loginPage {
  .container {
    width: 20%;
  }
  .title {
    font-family: 'MPb';
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  .formBody {
    font-family: 'MPl';
    font-size: 13px;
  }
  .loginGroup {
    justify-content: center;
    align-items: center;
  }
  .userSection:hover {
    color: crimson;
    text-decoration: none;
  }
  .userGroup:hover,
  :active,
  :visited {
    text-decoration: none;
  }
}
